@charset "utf-8";

:root {
    --bg-color:#181D2B;
    --box-line:#2A3141;
    --line:#384156;
    --bg-box:#212633;
    --bg-button1:#181D2B;
    --bg-color2:#2C364F;
    --text-color1:#fff;
    --text-color2:#fff;
    --text-color-red:#EE6666;
    --text-color-blue:#597DF2;
    --icon-color:#fff;
    --line-select:#2A3141;
    --bg-tab:#2C364F;
    --bg-tab2:#2E7EF6;
    --bg-tab3:#181D2B;
    --tab3-line:#2A3141;
    --tab3-text:#fff;
    --layer-bg:#10131C;
    --table-line:#38455F;
    --table-th-bg:#212633;
    --scroll-thumb:#212633;
}
.light-theme {
    --bg-color:#F7F8FB;
    --box-line:#E4E8EF;
    --line:#E4E8EF;
    --bg-box:#fff;
    --bg-button1:#fff;
    --bg-color2:#E2ECFF;
    --text-color1:#1E222F;
    --text-color2:#000;
    --text-color-red:#E4201D;
    --text-color-blue:#0C4077;
    --icon-color:#1E222F;
    --line-select:#E4E8EF;
    --bg-tab:#fff;
    --bg-tab3:#fff;
    --tab3-text:#7386B6;
    --tab3-line:#E4E8EF;
    --layer-bg:#fff;
    --table-line:#D5DCE8;
    --table-th-bg:#F3F3F3;
    --scroll-thumb:#E5E8F2;
}