@charset "utf-8";

.main {background:url("../images/main/bg-c.jpg") no-repeat 50% 0;background-size:100% 61rem;min-height:100%;display:flex;flex-direction:column;}
.main-content-section-1 {flex-shrink:0;}
.main-content-section-1 .max-142 {position:relative;padding-top:4.8rem;}
.main-help {position:absolute;top:2rem;right:0;width:5.4rem;height:5.4rem;background:url("../images/main/help-icon.png") no-repeat 50% 50%;background-size:contain;}
.main-content-text {font-size:8.2rem;font-weight:700;font-family:'GmarketSans', 'sans-serif';text-align:center;color:#fff;line-height:1;}
.main-content-text span {color:#06e5ff;}
.main-content-desc {font-family:'GmarketSans', 'sans-serif';text-align:center;color:#fff;font-size:2.4rem;line-height:1.4;margin-top:1.6rem;}
.main-card-list {display:flex;align-items:center;justify-content:center;gap:2rem;margin-top:5.2rem;}
.main-card-item {width:39.6rem;height:34rem;overflow:hidden;position:relative}
.main-card-item:first-child {width:58.8rem}
.main-card-item img {width:100%;display:block;height:100%;object-fit:contain;}
.main-card-item-content {position:absolute;left:3rem;top:4.8rem;display:flex;flex-direction:column;gap:1.6rem;}
.main-card-item-text {font-family:'GmarketSans', 'sans-serif';font-size:3.6rem;line-height:4rem;font-weight:500;color:#fff;min-height:8rem;display:flex;align-items:center;}
.main-card-item-desc {font-family:'GmarketSans', 'sans-serif';font-size:1.6rem;line-height:1.4;color:#daeaff;}
.main-card-link {position:absolute;top:0;left:0;right:0;bottom:0;}
.main-content-section-2 {margin-top:6rem;border-top:.1rem solid #e9edf7;padding-top:6rem;padding-bottom:10rem;flex-shrink:0;}
.main-content-section-2-title {display:flex;align-items:flex-end;gap:1.6rem;}
.main-content-section-2-text {font-family:'GmarketSans', 'sans-serif';font-size:3.6rem;font-weight:500;color:#3f95ff;line-height:1;}
.main-content-section-2-desc {font-family:'GmarketSans', 'sans-serif';font-size:2rem;font-weight:500;color:#5066a1;line-height:1;}
.main-content-box-list {display:grid;grid-template-columns:repeat(5, minmax(0, 1fr));gap:1.8rem;}
.main-content-box-item {position:relative;height:18rem;border-radius:2rem;background-color:#fff;border:.1rem solid #e4e7ef;display:flex;padding:1.6rem 3rem 1.6rem 3.6rem;align-items:center;flex-direction:column;gap:2rem;justify-content:center;}
.main-content-box-item-text {font-family:'GmarketSans', 'sans-serif';line-height:2.4rem;font-size:1.9rem;color:#27355a;font-weight:500;}
[class^="main-box-icon-"] {width:8rem;height:8rem;background-size:contain;background-position:50% 50%;background-repeat:no-repeat;}
.main-box-icon-01 {background-image:url("../images/main/icon-b-01.png")}
.main-box-icon-02 {background-image:url("../images/main/icon-b-02.png")}
.main-box-icon-03 {background-image:url("../images/main/icon-b-03.png")}
.main-box-icon-04 {background-image:url("../images/main/icon-b-04.png")}
.main-box-icon-05 {background-image:url("../images/main/icon-b-05.png")}
.main-content-section-3 {margin-top:5rem;padding-bottom:5rem;}

.main .footer {background-color:#fff;border-top:.1rem solid #eef0f2}
.main .footer-desc {color:#646e89}