@charset "utf-8";

.data-content {margin-top:3.6rem;}
.data-content-box {display:flex;gap:4rem;align-items:flex-start;}
.data-content-nav {width:22rem;flex-shrink:0;margin-top:3.6rem;max-height:calc(100vh - 14rem);overflow-y:auto;overflow-x:hidden;position:sticky;top:16rem;padding-bottom:2rem;}
.data-content-section-group {flex:1;display:flex;flex-direction:column;gap:4rem;padding-bottom:4rem;overflow:hidden;}
.data-content-section-box {background-color:#212633;border-radius:1.4rem;padding:2rem 1rem;}
.data-content-section-top-desc {font-size:1.2rem;line-height:1.4rem;padding-bottom:1rem;text-align:right;font-weight:800;color:#1E222F;padding-right:1rem;}
.data-content-section-title-box {margin-bottom:3rem;}
.data-content-section-title {padding-top:1rem;line-height:1;font-size:2.8rem;font-weight:800;color:#fff;padding-left:2rem;}
.data-content-section-top-date {font-size:1.8rem;color:#fff;}
.data-content-section-title-desc {margin-top:1.4rem;font-size:1.6rem;line-height:2rem;font-weight:700;color:#fff;word-break:keep-all;padding:0 2rem;}
.data-content-section-title-desc-from {font-size:1.4rem;text-decoration:underline;text-underline-offset:.3rem;color:#fff;}
.data-content-section-title-desc2 {font-size:1.2rem;font-weight:700;line-height:2rem;color:#fff;margin-top:1rem;padding:0 2rem;}
.data-content-section-sub-box-list {display:flex;flex-direction:column;gap:2rem;}
.data-content-section-sub-box {background-color:#fff;border-radius:.8rem;padding:3rem 4rem;}
.data-content-section-sub-box-s {background-color:#fff;border-radius:.8rem;padding:3rem 2rem;}
.data-content-section-sub-title-box {display:flex;align-items:center;}
.data-content-section-sub-title-box.mt-48 {margin-top:4.8rem;}
.data-content-section-sub-title-type {height:3.6rem;padding:0 2rem;display:flex;align-items:center;font-size:1.4rem;color:#fff;font-weight:800;border-radius:999em;background-color:#2E7EF6;margin-right:1.2rem}
.data-content-section-select-group {display:flex;align-items:center;gap:.6rem;margin-top:1rem;margin-bottom:2.8rem;}
.data-content-section-sub-title {font-size:2.4rem;line-height:2.8rem;font-weight:800;color:#1E222F;}
.data-content-section-sub-title-s {font-size:1.8rem;line-height:2rem;font-weight:800;color:#1E222F;margin-top:4rem;}
.data-content-section-sub-title-s + .data-content-section-desc {margin-top:1.6rem;}
.data-content-section-sub-btn-group {display:flex;align-items:center;gap:.6rem;margin-left:auto;}
.data-content-section-sub-btn-group .btn-base {padding:0 1.4rem}
.data-content-section-sub-btn-group .btn-base[data-color="blue"] {min-width:8.8rem;font-size:1.4rem}
.data-content-section-sub-btn-group .w-line {width:1rem;height:.2rem;background-color:#27355A}
.data-content-section-chart {margin-top:2.8rem;}
.data-content-section-chart.line-type {border:.1rem solid #E4E8EF;border-radius:.6rem;margin-top:.6rem;padding:3rem 2rem;display:flex;align-items:center;flex-direction:column;gap:2rem;}
.data-content-section-chart.mt-0 {margin-top:0;}
.data-content-section-chart-desc {margin-top:1rem;text-align:center;font-size:1.2rem;line-height:2rem;color:#2E7EF6;font-weight:700;}
.section-chart-title {font-size:1.8rem;font-weight:800;line-height:2rem;background-color:#F7F8FB;padding:1.2rem 3rem;}
.data-content-section-desc {font-size:1.6rem;font-weight:700;line-height:2rem;color:#414756;margin-top:3.6rem;word-break:keep-all;}
.data-content-section-desc-bullet {font-size:1.2rem;font-weight:700;line-height:1.6rem;color:#414756;margin-top:1.2rem;word-break:keep-all;}
.data-content-section-desc-bullet ~ .data-content-section-desc-bullet {margin-top:0}
.data-content-section-desc-from {font-size:1.4rem;font-weight:700;color:#414756;text-decoration:underline;text-underline-offset:.3rem;margin-right:2.8rem;}
.data-content-section-desc-blue {font-size:1.2rem;line-height:2rem;color:#2E7EF6;font-weight:700;margin-top:2rem;padding-left:1.4rem;text-indent:-1.4rem;}
.data-content-section-desc-blue + .data-content-section-desc-blue {margin-top:.4rem;}
.data-content-section ~ .data-content-section .data-content-section-top-desc {margin-top:0;}
.icon-nav-folding {aspect-ratio:1/1;width:2rem;background:url("../images/common/icon-nav-folding.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.data-content-nav-1depth-box {display:flex;align-items:center;gap:.4rem;}
.data-content-nav-1depth-box ~ .data-content-nav-1depth-box {margin-top:2.4rem;}
.data-content-nav-1depth {font-size:1.6rem;line-height:1.8rem;color:#2F3139;font-weight:800;text-decoration:none;}
.data-content-nav-2depth-box {margin-top:.8rem;display:flex;flex-direction:column;}
.data-content-nav-2depth {font-size:1.4rem;line-height:2.2rem;font-weight:700;color:#7386B6;text-decoration:none;}

.data-content-nav-2depth-box [data-acco="wrap"] {display:flex;flex-direction:column;}
[data-acco="item"] ~ [data-acco="item"] {margin-top:2.4rem;}
[data-expanded="true"] .icon-nav-folding {rotate:180deg;}
.data-content-nav-2depth[data-active="true"] {color:#2E7EF6;}

.data-content-section-sky-box {background-color:#F4F7FF;border-radius:.4rem;padding:2rem;margin-top:2.2rem;margin-bottom:2rem;}
.data-content-section-sky-box-title {font-size:1.6rem;font-weight:800;color:#2E7EF6;line-height:2rem;}
.data-content-section-sky-box-title ~ .data-content-section-sky-box-title {margin-top:2rem;}
.data-content-section-sky-box-desc {margin-top:1rem;font-size:1.4rem;color:#414756;font-weight:700;line-height:1.8rem;word-break:keep-all;}
.data-content-section-sky-box .table-basic {margin-top:.8rem;}
.table-basic {border-top:.1rem solid #38455F;border-left:.1rem solid #38455F;}
.table-basic thead th {height:4rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:800;background-color:#212633}
.table-basic tbody td {height:3rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#414756;font-weight:700;background-color:#fff;}

.data-content-section-legend {display:flex;flex-wrap:wrap;gap:1rem 2rem;align-items:center;justify-content:center;background-color:#F7F8FB;padding:1rem 2rem;margin-top:2.4rem;}
.data-content-section-legend ~ .data-content-section-legend {margin-top:.2rem}
.data-content-section-legend.j-end {justify-content:flex-end;padding-right:3.2rem}
.data-content-section-legend-item {display:flex;align-items:center;gap:.8rem;}
.data-content-section-legend-line {width:1.4rem;height:.2rem;}
.data-content-section-legend-box {width:2rem;height:1.2rem;border-radius:.2rem}
.data-content-section-legend-circle {width:.8rem;height:.8rem;border-radius:99em;}
.data-content-section-legend-name {font-size:1.4rem;font-weight:700;line-height:1.6rem;color:#414756;}
.data-content-section-legend-title {font-size:1.4rem;font-weight:800;line-height:1.6rem;color:#414756;}
.ata-content-section-legend-group {display:flex;align-items:center;gap:.2rem;}
.ata-content-section-legend-group .data-content-section-legend-line {width:1rem;}
.ata-content-section-legend-group .data-content-section-legend-circle {width:.2rem;height:.2rem;border-radius:0;}

@media (max-width:1023px) {
    .data-content {margin-top:0}
    .data-content-box {flex-direction:column;gap:2rem}
    .data-content-nav {margin-top:0;top:6rem;display:flex;overflow-x:auto;width:100%;padding:1.2rem 2rem;background-color:#f7f8fb;gap:2rem;-webkit-overflow-scrolling:touch;z-index:2;border-bottom:.1rem solid #D5DCE8}
    .data-content-nav [data-acco="item"] {white-space:nowrap}
    .data-content-nav [data-acco="item"][data-expanded="true"] .data-content-nav-1depth {color:#2E7EF6}
    .data-content-nav .btn-nav-folding {display:none}
    .data-content-nav-1depth {font-size:1.4rem;}
    .data-content-nav-2depth-box {display:none}
    [data-acco="item"] ~ [data-acco="item"] {margin-top:0}
    .data-content-section-box {border-radius:0}
    .data-content-section-title-box {margin-bottom:1.6rem}
    .data-content-section-title {font-size:1.6rem;padding:0 1.2rem}
    .data-content-section-title-desc {font-size:1.3rem;padding:0 1.2rem}
    .data-content-section-title-desc-from {font-size:1.2rem;}
    .data-content-section-sub-box {padding:2rem 1.6rem;}
    .data-content-section-sub-title-box {flex-direction:column;gap:1.2rem;align-items:flex-start}
    .data-content-section-sub-title {font-size:1.6rem;}
    .data-content-section-sub-btn-group {width:100%}
    .data-content-section-sub-btn-group .select-item-box.line-type {width:100%}
    .data-content-section-sub-btn-group .btn-base {flex:1}
    .data-content-section-desc {font-size:1.3rem;}
    .data-content-section-desc-from {font-size:1.2rem;}
    .data-content-section-legend-name {font-size:1.2rem;}
    .data-content-section-sky-box-title {font-size:1.3rem;}
    .data-content-section-sky-box-desc {font-size:1.2rem;}
    .table-basic tbody td,
    .table-basic thead th {font-size:1.2rem;padding:.8rem .4rem}
}
@media (max-width:767px) {
    .data-content-section-sub-btn-group {flex-wrap:wrap}
    .data-content-section-sub-btn-group .select-size-42 {width:100%}
}