@charset "utf-8";

.sub3-content {padding-bottom:5.8rem;}
.sub3-top-title {height:10rem;background-color:#fff;border-bottom:.1rem solid rgba(0,29,101,.1);padding-top:3.8rem;position:sticky;top:8rem;box-shadow:0 .2rem 0 0 rgba(0,0,0,.02);z-index:100}
.sub3-title {font-size:3.6rem;font-weight:800;color:#1E222F;line-height:4rem;}
.sub3-content-box {margin-top:3.2rem;gap:2rem;display:flex;align-items:flex-start;}
.sub3-left-map-box {width:calc(50% - 1rem);border:.2rem solid #CBD9FF;border-radius:1.4rem;background-color:#F4F7FF;overflow:hidden;}
.sub3-left-map-box-top {height:6.6rem;background-color:#CBD9FF;padding:0 1.8rem 0 3rem;display:flex;align-items:center;}
.sub3-left-map-box-top-title {font-size:2.2rem;font-weight:800;color:#1E222F;line-height:2.4rem;}
.sub3-left-btn-group {margin-left:auto;}
.sub3-left-map-content {padding:1.4rem;}
.sub3-left-map-info {border:.1rem solid #CBD9FF;border-radius:.6rem;background-color:#fff;overflow:hidden;height:6rem;display:flex;align-items:center;padding:0 1.6rem;width:35.2rem;gap:1.2rem;}
.sub3-left-map-info-desc {font-size:1.4rem;line-height:1.6rem;color:#414756;font-weight:700;}
.sub3-left-map-mark-box {border-radius:999em;height:3.6rem;display:flex;align-items:center;gap:.6rem;padding:.3rem 1.2rem .3rem .3rem;min-width:7.2rem;}
.sub3-left-map-mark-box.color-base {background-color:#75809C;}
.sub3-left-map-mark-box.color-1 {background-color:#00A3FF;}
.sub3-left-map-mark-box.color-2 {background-color:#FFB800;}
.sub3-left-map-mark-box.color-3 {background-color:#FF7A00;}
.sub3-left-map-mark-box.color-4 {background-color:#FF1F00;}
.sub3-left-map-mark-box.color-5 {background-color:#7000FF;}
.sub3-left-map-mark-round {width:3rem;height:3rem;display:flex;align-items:center;justify-content:center;background-color:#fff;font-size:1.7rem;font-weight:900;color:#000;border-radius:999em;line-height:1;font-family:'DINPro', 'sans-serif'}
.sub3-left-map-mark-desc {font-size:1.2rem;font-weight:800;color:#fff;line-height:1;}
.sub3-left-map-area {display:flex;align-items:flex-start;margin-top:2rem;justify-content:space-between;}
.sub3-left-map-col-1 {margin-top:2rem;padding-left:1.6rem;}
.sub3-left-map-col-1-title {font-size:3.6rem;font-weight:800;line-height:4rem;color:#717A90;}
.sub3-left-map-col-1-desc-1 {font-size:1.6rem;line-height:1.8rem;font-weight:700;color:#414756;word-break:keep-all;max-width:30rem;margin-top:3.2rem;}
.sub3-left-map-col-1-img {margin-top:2.8rem;width:27rem;}
.sub3-left-map-col-1-img img {width:100%;}
.sub3-left-map-col-1-desc-2 {margin-top:2.8rem;font-size:1.2rem;line-height:1.4rem;color:#414756;word-break:keep-all;max-width:30rem;font-weight:700;}
.sub3-left-map-col-1-desc-box {margin-top:2rem;display:flex;gap:.6rem;align-items:flex-start;}
.sub3-left-map-col-1-desc-box .sub3-left-map-col-1-desc-2 {margin-top:0;}
.map-gray-icon {width:.8rem;height:.8rem;border-radius:99em;background-color:#75809C;flex-shrink:0;margin-top:.2rem;}
.title-area-value {color:#272A2F}
.title-level-value {text-decoration:underline;text-underline-offset:1rem;}
.level-color-1 {color:#00A3FF}
.level-color-2 {color:#FFB800;}
.level-color-3 {color:#FF7A00;}
.level-color-4 {color:#FF1F00;}
.level-color-5 {color:#7000FF;}
.sub3-left-map-col-2 {max-width:40rem;position:relative}
.sub3-left-map-col-2 img {width:100%;height:auto;}
.sub3-left-map-col-2 .sub3-left-map-mark-box {position:absolute;}
.sub3-left-map-col-2 .seoul {top:16%;left:28%;} /* 서울 */
.sub3-left-map-col-2 .kag {top:8%;right:24%;} /* 강릉 */
.sub3-left-map-col-2 .ulg {top:21%;right:2%;} /* 울릉 */
.sub3-left-map-col-2 .icn {top:21%;left:11%;} /* 인천 */
.sub3-left-map-col-2 .an {top:36%;left:6%;} /* 안면도 */
.sub3-left-map-col-2 .cjj {top:31%;left:42%;} /* 청주 */
.sub3-left-map-col-2 .taj {top:40%;left:32%;} /* 대전 */
.sub3-left-map-col-2 .cnj {bottom:43.5%;left:26%;} /* 전주 */
.sub3-left-map-col-2 .tae {bottom:46.8%;right:24%;} /* 대구 */
.sub3-left-map-col-2 .kpo {bottom:49%;right:4%;} /* 포항 */
.sub3-left-map-col-2 .usn {bottom:41%;right:8%;} /* 울산 */
.sub3-left-map-col-2 .pus {bottom:34%;right:12%;} /* 부산 */
.sub3-left-map-col-2 .kwj {bottom:32.5%;left:20%;} /* 광주 */
.sub3-left-map-col-2 .mpk {bottom:25%;left:6%;} /* 목포 */
.sub3-left-map-col-2 .chj {bottom:7%;left:13%;} /* 고산 */

.table-basic-2 {border-top:.1rem solid #D5DCE8;border-left:.1rem solid #D5DCE8;}
.table-basic-2 thead th {background-color:#F3F3F3;border-right:.1rem solid #D5DCE8;border-bottom:.1rem solid #D5DCE8;height:4.8rem;font-size:1.6rem;font-weight:800;color:#1E222F;}
.table-basic-2 tbody td {font-size:1.4rem;border-right:.1rem solid #D5DCE8;border-bottom:.1rem solid #D5DCE8;text-align:center;line-height:2.2rem;padding:1rem 1.4rem;color:#1E222F;font-weight:700}
.table-basic-2 tbody td.a-left {text-align:left}
.table-basic-2 tbody td.level-type {font-size:1.6rem;font-weight:800;color:#fff;}
.table-basic-2 tbody td.color-1 {background-color:#00A3FF;}
.table-basic-2 tbody td.color-2 {background-color:#FFB800;}
.table-basic-2 tbody td.color-3 {background-color:#FF7A00;}
.table-basic-2 tbody td.color-4 {background-color:#FF1F00;}
.table-basic-2 tbody td.color-5 {background-color:#7000FF;}