@charset "utf-8";

.sub3-content {padding-bottom:5.8rem;}
.sub3-top-title  {height:12rem;background-color:#fff;border-bottom:.1rem solid rgba(0,29,101,.1);padding-top:5.8rem;box-shadow:0 .2rem 0 0 rgba(0,0,0,.02)}
.sub3-top-title .max-158 {display:flex;align-items:center;}
.sub3-top-title .right-area {margin-left:auto;}
.icon-info {aspect-ratio:1/1;width:2rem;background:url("../images/common/icon-info.svg") no-repeat 50% 50%;background-size:contain;}
.btn-base .icon-info {margin-left:-.4rem;}
.sub3-title {font-size:3.6rem;font-weight:800;color:#1E222F;line-height:4rem;}
.sub3-content-box {margin-top:3.2rem;gap:2rem;display:flex;}
.sub3-content-box .data-content-section-group {padding-bottom:0}
.sub3-left-map-box {width:calc(50% - 1rem);border:.2rem solid #CBD9FF;border-radius:1.4rem;overflow:hidden;background-color:#F4F7FF;position:sticky;top:10rem;z-index:9;align-self:flex-start}
.sub3-left-map-box-top {height:6.6rem;background-color:#CBD9FF;padding:0 1.8rem 0 3rem;display:flex;align-items:center}
.sub3-left-map-box-top-title {font-size:2.2rem;font-weight:800;color:#1E222F;line-height:2.4rem;}
.sub3-left-btn-group {margin-left:auto;display:flex;align-items:center;gap:.6rem}
.sub3-left-map-content {padding:1.4rem;}
.sub3-left-map-info {border:.1rem solid #CBD9FF;border-radius:.6rem;background-color:#fff;overflow:hidden;height:6rem;display:flex;align-items:center;padding:0 1.6rem;width:35.2rem;gap:1.2rem;}
.sub3-left-map-info-desc {font-size:1.4rem;line-height:1.6rem;color:#414756;font-weight:700;}
.sub3-left-map-mark-box {border-radius:999em;height:3.6rem;display:flex;align-items:center;gap:.6rem;padding:.3rem 1.2rem .3rem .3rem;min-width:7.2rem;}
.sub3-left-map-mark-box.color-base {background-color:#75809C;}
.sub3-left-map-mark-box.color-1 {background-color:#00A3FF;}
.sub3-left-map-mark-box.color-2 {background-color:#FFB800;}
.sub3-left-map-mark-box.color-3 {background-color:#FF7A00;}
.sub3-left-map-mark-box.color-4 {background-color:#FF1F00;}
.sub3-left-map-mark-box.color-5 {background-color:#7000FF;}
.sub3-left-map-mark-box.color-1.is-select {outline:.4rem solid rgba(0,163,255,.25)}
.sub3-left-map-mark-box.color-2.is-select {outline:.4rem solid rgba(255,168,0,.25)}
.sub3-left-map-mark-box.color-3.is-select {outline:.4rem solid rgba(255,122,0,.25)}
.sub3-left-map-mark-box.color-4.is-select {outline:.4rem solid rgba(241,29,0,.25)}
.sub3-left-map-mark-box.color-5.is-select {outline:.4rem solid rgba(112,0,255,.25)}
.sub3-left-map-mark-box.pin-active-green {background-color:#00B528 !important;z-index:2}
.sub3-left-map-mark-box.pin-active-blue {background-color:#0864EE !important;z-index:2}
.sub3-left-map-mark-box.pin-active-red {background-color:#F11D00 !important;z-index:2}
.sub3-left-map-mark-box.pin-active-purple {background-color:#9014DC !important;z-index:2}
.sub3-left-map-mark-box.pin-active {background-color:#0864EE !important;z-index:2}
.sub3-left-map-mark-round {width:3rem;height:3rem;display:flex;align-items:center;justify-content:center;background-color:#fff;font-size:1.7rem;font-weight:900;color:#000;border-radius:999em;line-height:1;font-family:'DINPro', 'sans-serif'}
.pin-box {position:relative;}
.pin-box .icon-pin {width:1.2rem;height:1.6rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;display:block;position:relative}
.pin-box .icon-pin.pin-base {background-image:url("../images/common/pin-base.svg")}
.pin-box .icon-pin.pin-gray {background-image:url("../images/common/pin-gray.svg")}
.sub3-left-map-mark-box.pin-active-green .icon-pin {background-image:url("../images/common/pin-green.svg") !important}
.sub3-left-map-mark-box.pin-active-blue .icon-pin {background-image:url("../images/common/pin-blue.svg") !important}
.sub3-left-map-mark-box.pin-active-red .icon-pin {background-image:url("../images/common/pin-red.svg") !important}
.sub3-left-map-mark-box.pin-active-purple .icon-pin {background-image:url("../images/common/pin-purple.svg") !important}
.sub3-left-map-mark-box.pin-active .icon-pin {background-image:url("../images/common/pin-active.svg") !important;}
.pin-box .pin-bg {position:absolute;bottom:-.1rem;left:50%;transform:translateX(-50%);background:url("../images/common/pin-bg.svg") no-repeat 50% 50%;background-size:contain;width:.8rem;height:.2rem;}
.sub3-left-map-mark-desc {font-size:1.2rem;font-weight:800;color:#fff;line-height:1;}
.sub3-left-map-area {display:flex;align-items:flex-start;margin-top:2rem;justify-content:space-between;}
.sub3-left-map-area.j-center {justify-content:center;margin-top:-1.2rem;position:relative;}
.sub3-left-map-area .p-a {position:absolute;bottom:1.6rem;right:1.6rem;max-width:100%}
.sub3-left-map-col-1 {margin-top:2rem;padding-left:1.6rem;}
.sub3-left-map-col-1-title {font-size:3.6rem;font-weight:800;line-height:4rem;color:#717A90;}
.sub3-left-map-col-1-desc-1 {font-size:1.6rem;line-height:1.8rem;font-weight:700;color:#414756;word-break:keep-all;max-width:30rem;margin-top:3.2rem;}
.sub3-left-map-col-1-img {margin-top:2.8rem;width:27rem;}
.sub3-left-map-col-1-img img {width:100%;}
.sub3-left-map-col-1-desc-2 {margin-top:2.8rem;font-size:1.2rem;line-height:1.4rem;color:#414756;word-break:keep-all;max-width:30rem;font-weight:700;}
.sub3-left-map-col-1-desc-box {margin-top:2rem;display:flex;gap:.6rem;align-items:flex-start;}
.sub3-left-map-col-1-desc-box .sub3-left-map-col-1-desc-2 {margin-top:0;}
.map-gray-icon {width:.8rem;height:.8rem;border-radius:99em;background-color:#75809C;flex-shrink:0;margin-top:.2rem;}
.title-area-value {color:#272A2F}
.title-level-value {text-decoration:underline;text-underline-offset:1rem;}
.level-color-1 {color:#00A3FF}
.level-color-2 {color:#FFB800;}
.level-color-3 {color:#FF7A00;}
.level-color-4 {color:#FF1F00;}
.level-color-5 {color:#7000FF;}
.sub3-left-map-col-2 {max-width:40rem;position:relative}
.sub3-left-map-col-2 img {width:100%;height:auto;}
.sub3-left-map-col-2 .sub3-left-map-mark-box {position:absolute;cursor:pointer}
.sub3-left-map-col-2 .seoul {top:16%;left:26%;} /* 서울 */
.sub3-left-map-col-2 .kag {top:8%;right:24%;} /* 강릉 */
.sub3-left-map-col-2 .ulg {top:21%;right:-3%;} /* 울릉 */
.sub3-left-map-col-2 .icn {top:21%;left:11%;} /* 인천 */
.sub3-left-map-col-2 .an {top:36%;left:6%;} /* 안면도 */
.sub3-left-map-col-2 .cjj {top:32%;left:42%;} /* 청주 */
.sub3-left-map-col-2 .taj {top:40%;left:32%;} /* 대전 */
.sub3-left-map-col-2 .cnj {bottom:43.5%;left:26%;} /* 전주 */
.sub3-left-map-col-2 .tae {bottom:46.8%;right:24%;} /* 대구 */
.sub3-left-map-col-2 .kpo {bottom:49%;right:4%;} /* 포항 */
.sub3-left-map-col-2 .usn {bottom:41%;right:8%;} /* 울산 */
.sub3-left-map-col-2 .pus {bottom:34%;right:12%;} /* 부산 */
.sub3-left-map-col-2 .kwj {bottom:32.5%;left:20%;} /* 광주 */
.sub3-left-map-col-2 .mpk {bottom:25%;left:6%;} /* 목포 */
.sub3-left-map-col-2 .chj {bottom:7%;left:13%;} /* 고산 */
.sub3-left-map-col-2 .ga {top:20%;left:20%;} /* 관악 */
.sub3-left-map-col-2 .yj {top:13.5%;left:26%;} /* 양재 */

.sub3-left-map-col-2 .puj {top:5.5%;left:17%;}/* 파주 */
.sub3-left-map-col-2 .crw {top:5.5%;right:46%;}/* 철원 */
.sub3-left-map-col-2 .sho {top:2%;right:22%;}/* 속초 */
.sub3-left-map-col-2 .dgr {top:8.5%;left:55%;}/* 대관령 */
.sub3-left-map-col-2 .brd {top:18.5%;left:-14%;}/* 백령도 */
.sub3-left-map-col-2 .wju {top:16%;left:45%;}/* 원주 */
.sub3-left-map-col-2 .the {top:15%;right:18%;}/* 동해 */
.sub3-left-map-col-2 .ywl {top:22.5%;right:32%;}/* 영월 */
.sub3-left-map-col-2 .thb {top:24%;right:13%;}/* 태백 */
.sub3-left-map-col-2 .can {top:30.5%;left:26%;}/* 천안 */
.sub3-left-map-col-2 .shg {top:39%;left:20%;}/* 홍성 */
.sub3-left-map-col-2 .adg {top:38%;right:19%;}/* 안동 */
.sub3-left-map-col-2 .prg {bottom:47.5%;left:16%;}/* 보령 */
.sub3-left-map-col-2 .chp {top:47.5%;left:41%;}/* 추풍령 */
.sub3-left-map-col-2 .mry {bottom:39.5%;right:20%;}/* 밀양 */
.sub3-left-map-col-2 .mpk {bottom:28%;left:9%;}/* 목포 */
.sub3-left-map-col-2 .rsu {bottom:27.5%;left:40%;}/* 여수 */
.sub3-left-map-col-2 .cwn {bottom:32.5%;right:24%;}/* 창원 */
.sub3-left-map-col-2 .hae {bottom:19.5%;left:4%;}/* 해남 */
.sub3-left-map-col-2 .chg {bottom:19.5%;left:23%;}/* 장흥 */
.sub3-left-map-col-2 .khg {bottom:20.5%;left:42%;}/* 고흥 */

.table-area-box {margin-top:.6rem}
.table-basic-2 {border-top:.1rem solid #D5DCE8;border-left:.1rem solid #D5DCE8;}
.table-basic-2 caption {font-size:2rem;line-height:2.2rem;color:#1E222F;font-weight:800;margin-bottom:1rem;height:auto;opacity:1;text-align:left;}
.table-basic-2 thead th {background-color:#F3F3F3;border-right:.1rem solid #D5DCE8;border-bottom:.1rem solid #D5DCE8;height:4.8rem;font-size:1.6rem;font-weight:800;color:#1E222F;padding:1.2rem;line-height:1.8rem;}
.table-basic-2 tbody td {font-size:1.4rem;border-right:.1rem solid #D5DCE8;border-bottom:.1rem solid #D5DCE8;text-align:center;line-height:2.2rem;padding:1rem 1.4rem;color:#1E222F;font-weight:700;background-color:#fff}
.table-basic-2 tbody td.a-left {text-align:left}
.table-basic-2 tbody td.a-right {text-align:right}
.table-basic-2 tbody td.level-type {font-size:1.6rem;font-weight:800;color:#fff;}
.table-basic-2 tbody td.color-1 {background-color:#00A3FF;}
.table-basic-2 tbody td.color-2 {background-color:#FFB800;}
.table-basic-2 tbody td.color-3 {background-color:#FF7A00;}
.table-basic-2 tbody td.color-4 {background-color:#FF1F00;}
.table-basic-2 tbody td.color-5 {background-color:#7000FF;}
.table-basic-2 tbody td.color-gray {background-color:#F9F9F9;}
.table-basic-2.img-block tbody td img {display:block;margin:.8rem 0}
.table-basic-2.td-16 tbody td {font-size:1.6rem;}
.table-basic-2.td-h-32 tbody td {padding:.5rem 1.6rem}
.table-basic-2.th-s thead th {padding:.6rem 1rem;height:4.4rem;}
.w-scroll {overflow-x:auto;}
.w-scroll .table-basic-2 {table-layout:auto;width:auto;min-width:100%;}
.w-scroll .table-basic-2 thead th,
.w-scroll .table-basic-2 tbody td {white-space:nowrap;}
.w-scroll {-webkit-overflow-scrolling:touch}
.w-scroll::-webkit-scrollbar {height:1.6rem;width:1.6rem;border:.1rem solid #D5DCE8;border-top:none}
.w-scroll::-webkit-scrollbar-track {border-radius:999em;background-color:transparent}
.w-scroll::-webkit-scrollbar-thumb {width:.4rem;border-radius:999em;background-color:#E5E8F2;border:.4rem solid transparent;background-clip:padding-box;}
.line-scroll {overflow-y:auto;}
.line-scroll::-webkit-scrollbar {height:1.6rem;width:1.6rem;border-right:.1rem solid #D5DCE8;background-color:#fff}
.line-scroll::-webkit-scrollbar-track {border-radius:999em;background-color:transparent}
.line-scroll::-webkit-scrollbar-thumb {width:.4rem;border-radius:999em;background-color:#E5E8F2;border:.4rem solid transparent;background-clip:padding-box;}
.line-scroll::-webkit-scrollbar-corner {background-color:transparent}

.sub3-top-tab-area {position:sticky;top:7.9rem;border-bottom:.1rem solid rgba(0,29,101,.1);padding:1.2rem 0;background-color:#fff;z-index:10;}
.sub3-top-tab-area .max-158 {display:flex;align-items:center;gap:.6rem;}
.top-button-tab {height:4.6rem;border-radius:99em;background-color:#fff;border:.1rem solid #E4E8EF;min-width:14.2rem;padding:0 2rem;display:flex;align-items:center;justify-content:center;font-size:1.6rem;font-weight:800;color:#7386B6;}
.top-button-tab.is-select {background-color:#2E7EF6;border-color:#2E7EF6;color:#fff;}
.sub3-top-tab-area ~ .sub3-content-box .sub3-left-map-box {top:17rem}

@media (max-width:1023px) {
    .sub3-top-title {height:auto;padding:2rem}
    .sub3-title {font-size:1.8rem;line-height:1}
    .sub3-content-box {flex-direction:column}
    .sub3-left-map-box {width:100%;position:static;border-radius:0}
    .sub3-left-map-box-top {padding:0 1.6rem}
    .sub3-left-map-box-top-title {font-size:1.6rem}
    .sub3-left-map-col-1-title {font-size:2rem;line-height:2.4rem}
    .sub3-left-map-col-1-title br {display:none}
    .sub3-left-map-col-1-desc-1 {max-width:100%;margin-top:2rem;font-size:1.4rem}
    .sub3-top-tab-area {padding:0}
    .sub3-top-tab-area .max-158 {overflow-x:auto;padding:1.2rem 1.6rem;}
    .top-button-tab {height:3.6rem;min-width:.1rem;white-space:nowrap;padding:0 2rem;flex-shrink:0;font-size:1.3rem}
    .sub3-left-map-info-desc {font-size:1.3rem;}
    .table-basic-2.td-16 tbody td,
    .table-basic-2 thead th {font-size:1.3rem;}
}
@media (max-width:767px) {
    .sub3-left-map-area {flex-direction:column}
    .sub3-left-map-col-1 {order:2}
    .sub3-left-map-col-2 {order:1}
    .sub3-left-map-col-1-img {width:100%}
    .sub3-left-map-col-1-img {width:100%}
    .sub3-left-map-col-1-desc-2 {margin-top:2rem;max-width:100%}
    .sub3-left-map-box-top {flex-direction:column;align-items:flex-start;height:auto;padding:1.2rem 1.6rem}
    .sub3-left-btn-group {flex-wrap:wrap}
    .sub3-left-map-box-top-title {margin-bottom:1.2rem}
    .sub3-left-map-box-top .select-item-box.w-80,
    .sub3-left-map-box-top .datepicker-size-42 {width:100%}
    .sub3-left-map-area .p-a {position:static;order:2}
    .sub3-content .data-content-section-legend-title {width:100%}
    .sub3-content .data-content-section-legend {justify-content:flex-start}
}