@charset "utf-8";

.sub-map {display:flex;flex-direction:column;height:100%;}
.sub-map-content {flex:1;width:100%;overflow:hidden}
.footer-nav {background-color:#131723;height:5.2rem;display:flex;align-items:center;justify-content:center;flex-shrink:0;gap:6rem;}

[class^="icon-btm-"] {display:block;width:2.4rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;aspect-ratio:1/1;}
.icon-btm-1 {background-image:url("../images/common/icon-btm-1.svg")}
.icon-btm-2 {background-image:url("../images/common/icon-btm-2.svg")}
.icon-btm-3 {background-image:url("../images/common/icon-btm-3.svg")}
.icon-btm-4 {background-image:url("../images/common/icon-btm-4.svg")}
.icon-btm-5 {background-image:url("../images/common/icon-btm-5.svg")}
.icon-btm-6 {background-image:url("../images/common/icon-btm-6.svg")}
.icon-btm-7 {background-image:url("../images/common/icon-btm-7.svg")}
.map-control-layer-btn {display:flex;align-items:center;gap:.4rem;}
.map-control-layer-btn-text {font-size:1.6rem;font-weight:700;color:#fff;}
.map-control-btn-group {display:flex;gap:3.6rem;}
.layer-open-box {position:relative;}
.map-control-btn-group .layer-open-box ~ .layer-open-box:before {content:'';position:absolute;left:-1.8rem;width:.1rem;height:1.8rem;background-color:#36415E;top:50%;margin-top:-.9rem;display:block;}
.map-control-period-group:before {content:'';position:absolute;left:-3rem;width:.1rem;height:2.8rem;background-color:#36415E;top:50%;margin-top:-1.4rem;display:block;}
.map-control-period-group {display:flex;align-items:center;gap:.6rem;position:relative;}
.map-control-period-group .btn-base {min-width:9rem;}

.sub-map-content-area {height:100%;display:flex;overflow:hidden;}
.map-container-box {flex:1;position:relative;overflow:hidden}
.object-cover {width:100%;height:100%;object-fit:cover;}

.map-breadcrumbs {position:absolute;top:0;left:0;right:0;height:4.2rem;background-color:rgba(0,0,0,.5);padding:0 1.6rem;display:flex;align-items:center;}
.breadcrumbs-box {display:flex;align-items:center;font-size:1.4rem;font-weight:800;color:#fff;gap:.4rem;}
.breadcrumbs-box img {display:block;}
.breadcrumbs-point {color:#FFE602;}
.map-right-position {position:absolute;top:5.8rem;right:1.6rem;display:flex;flex-direction:column;gap:.8rem;}
[class^="icon-map-"] {width:3.2rem;height:3.2rem;display:block;background-repeat:no-repeat;background-size:contain;background-position:50% 50%}
.icon-map-open-1 {background-image:url("../images/common/icon-map-01.svg")}
.icon-map-open-2 {background-image:url("../images/common/icon-map-02.svg")}
.map-right-position .btn-base {width:6rem;height:6rem;background-color:#181D2B;border-radius:.8rem;box-shadow:0 0 .1rem 0 rgba(0,0,0,.1);border:.1rem solid transparent;}
.map-right-position .btn-base.active {background-color:#2E7EF6;border-color:#2978ED;}

.map-left-position {position:absolute;top:8rem;left:2rem}
.map-left-sh-box {margin-bottom:3rem;position:relative}
.map-left-sh-box .icon-sh {position:absolute;left:1.6rem;top:50%;margin-top:-1.2rem;}
.map-left-sh-list {position:absolute;top:6rem;left:0;min-width:25rem;max-width:36rem;z-index:10;background-color:#fff;border-radius:.4rem;box-shadow:0 .1rem .4rem rgba(0,0,0,.25);display:flex;flex-direction:column;overflow:hidden}
.map-left-sh-list-item {height:4.4rem;display:flex;align-items:center;padding:0 1.6rem;white-space:nowrap;gap:.8rem;font-size:1.6rem;color:#1e2329;font-weight:700}
.map-left-sh-list-item ~ .map-left-sh-list-item {border-top:.1rem solid #f0f0f5}
.map-left-sh-list-item:hover {background-color:#f9f9fb;color:#2e7ef6}
.map-left-sh-group {padding:2rem 1.6rem}
.map-left-sh-group ~ .map-left-sh-group {border-top:.1rem solid #f0f0f5}
.map-left-sh-group-title {font-size:1.8rem;font-weight:800;color:#1e2329;margin-bottom:.8rem}
.btn-map-sh-items {display:flex;width:100%;font-size:16px;height:26px;align-items:center;color:#5d6165;justify-content:flex-start;font-weight:600}
.btn-map-sh-items:hover {color:#2e7ef6}
.btn-map-sh-items span {word-break:break-all;text-overflow:ellipsis;overflow:hidden;max-width:100%;display:inline-block;white-space:nowrap}
input[type="text"].left-input-sh {width:17rem;height:5rem;border-radius:.4rem;border:none;padding:0 1.2rem 0 5rem;box-shadow:0 .1rem .4rem rgba(0,0,0,.25)}
input[type="text"].left-input-sh::placeholder {color:#999;font-weight:600;font-size:1.6rem}
.icon-sh {aspect-ratio:1/1;width:2.4rem;background:url("../images/common/icon-search.svg") no-repeat 50% 50%;background-size:contain;display:block;}

.map-left-map-type {width:17rem;display:flex;gap:.8rem;}
.btn-map-type {display:flex;flex-direction:column;border:.1rem solid rgba(0,0,0,.4);border-radius:.4rem;overflow:hidden;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);height:6.6rem;flex:1;}
.btn-map-type.active {border-color:#2E7EF6}
.map-type-img {height:4rem;flex-shrink:0;overflow:hidden;width:100%}
.map-type-img img {width:100%;height:100%;object-fit:cover}
.map-type-text {font-size:1.1rem;flex:1;display:flex;width:100%;align-items:center;justify-content:center;font-weight:800;color:#1e2329;background-color:#fff}
.btn-map-type.active .map-type-text {color:#2E7EF6}

.map-left-map-expand {margin-top:2rem;border-radius:.4rem;background-color:#fff;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);width:4.2rem;display:flex;flex-direction:column}
.btn-s-map-right {width:100%;height:4rem;display:flex;align-items:center;justify-content:center}
.btn-s-map-right ~ .btn-s-map-right {border-top:.1rem solid #e8e8e8}
.btn-layer-hover {position:relative}
.map-left-btn-group {margin-top:1rem;display:flex;gap:1rem;flex-direction:column}
.map-left-btn-group .btn-layer-hover {border-color:transparent !important;}
.map-left-btn-group .btn-layer-hover .btn-s-map-item {border-color:transparent}
.btn-s-map-item {width:4.2rem;height:4.2rem;border-radius:4px;background-color:#fff;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);display:flex;align-items:center;justify-content:center;border:.1rem solid #fff}
.btn-s-map-item i {width:2.4rem;height:2.4rem;display:block;background-position:50% 50%;background-size:contain;background-repeat:no-repeat}
.btn-s-map-item.active {background-color:#2E7EF6}
.left-tooltip-layer {position:absolute;left:5rem;top:.6rem;z-index:99;display:none;padding-right:12px}
.left-tooltip-layer-box {position:relative;display:flex;background-color:#fff;padding:0 1rem;border-radius:.2rem;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);height:3rem;align-items:center;font-size:1.4rem;font-weight:800;color:#1e2329;white-space:nowrap}
.left-tooltip-layer-box:before {content:'';position:absolute;top:50%;left:-.4rem;width:0;height:0;margin-top:-.3rem;border-right:.4rem solid #fff;border-top:.4rem solid transparent;border-bottom:.4rem solid transparent}
.btn-layer-hover:hover .left-tooltip-layer {display:flex}
.icon-plus {background:url("../images/common/icon-plus.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:2.4rem;}
.icon-minus {background:url("../images/common/icon-minus.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:2.4rem;}
.btn-s-map-right:hover .icon-plus {background-image:url("../images/common/icon-plus-on.svg")}
.btn-s-map-right:hover .icon-minus {background-image:url("../images/common/icon-minus-on.svg")}
.icon-left-map-01 {background-image:url("../images/common/icon-space-dashboard.svg")}
.icon-left-map-02 {background-image:url("../images/common/icon-window.svg")}
.icon-left-map-03 {background-image:url("../images/common/icon-layer.svg")}
.active .icon-left-map-01 {background-image:url("../images/common/icon-space-dashboard-on.svg")}
.active .icon-left-map-02 {background-image:url("../images/common/icon-window-on.svg")}
.active .icon-left-map-03 {background-image:url("../images/common/icon-layer-on.svg")}

.map-detail-right-area {width:50%;flex-shrink:0;background-color:#181D2B;padding:0 2rem;position:relative;overflow-y:auto;border-bottom:.1rem solid #0A0D13;border-left:.1rem solid #0A0D13;margin-right:-50%;transition:margin-right .2s}
.map-detail-right-area.is-open {margin-right:0}
.map-detail-right-area.scrollbar-4::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,.2)}
.map-detail-right-title {margin-top:3rem;margin-bottom:1rem;font-size:2rem;line-height:2.2rem;font-weight:800;color:#3396FF;}
.map-detail-right-box {background-color:#212633;border-radius:.6rem;padding:2rem;}
.map-detail-right-group {display:flex;align-items:center;}
.map-detail-right-group.v2 {padding-left:17rem;}
.map-detail-right-group-title {margin-right:6.8rem;font-size:2rem;line-height:2.2rem;font-weight:800;color:#fff;width:10.2rem;}
.map-detail-right-1 {display:flex;flex-direction:column;gap:2rem;padding:1rem 6rem 1rem 2rem;}
.map-detail-right-list {display:flex;align-items:center;justify-content:space-between;flex:1;}
.map-detail-right-item {width:8.6rem;position:relative;}
.map-detail-right-item img {width:100%;object-fit:contain;}
.map-detail-right-item-text {position:absolute;top:50%;left:50%;text-align:center;transform:translate(-50%, -50%);font-size:1.2rem;font-weight:800;}
.map-detail-right-item-text-stork {-webkit-text-stroke:.4rem rgba(0,0,0,.7)}
.map-detail-right-item-value {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#fff;white-space:nowrap}
.map-detail-right-item-title {font-size:1.4rem;font-weight:800;line-height:1.6rem;color:#fff;text-align:center;}
.map-detail-right-table-area {margin-top:3rem;}

.dark-table {border-top:.1rem solid #38455F;border-left:.1rem solid #38455F;}
.dark-table thead th {height:4rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:800;background-color:#212633}
.dark-table tbody th {height:3rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:800;background-color:#212633}
.dark-table tbody td {height:3rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:700;}

.map-detail-right-btn-group {margin-top:2rem;display:flex;justify-content:flex-end;align-items:center;gap:.6rem;}
.map-detail-right-btn-group .btn-base {min-width:12rem;}
.map-detail-right-btn-group .btn-base i {margin-left:auto;margin-right:-.6rem;}
.icon-circle-down {aspect-ratio:1/1;width:2.4rem;background:url("../images/common/icon-circle-down.svg") no-repeat 50% 50%;background-size:contain;}

.btn-detail-right-close {width:3.6rem;height:3.6rem;background-color:#0A0D13;display:flex;align-items:center;justify-content:center;border-radius:.2rem;position:absolute;top:1.4rem;right:2rem;}
.icon-close {aspect-ratio:1/1;width:2.4rem;background:url("../images/common/icon-close.svg") no-repeat 50% 50%;background-size:contain;}

.left-nav-area {flex-shrink:0;position:relative;z-index:2;}
.left-nav-area.is-close {margin-left:-4.8rem;}
.left-nav-box {padding:2rem 1.4rem;background-color:#2B3244;border-right:.1rem solid #1F2330;height:100%;box-shadow:.4rem 0 .2rem 0 rgba(0,0,0,.1)}
.left-nav-box:hover .left-nav-item-name {display:block;}
.left-nav-list {display:flex;flex-direction:column;gap:1.4rem;}
.left-nav-item {display:flex;gap:.8rem;align-items:center;text-decoration:none;}
.left-nav-item-name {font-size:1.2rem;color:#49577C;font-weight:800;line-height:1;display:none;}
.left-nav-item.active .left-nav-item-name,
.left-nav-item:hover .left-nav-item-name {color:#fff;}
[class^="icon-nav-"] {aspect-ratio:1/1;width:2rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;}
.icon-nav-1 {background-image:url("../images/common/icon-nav-1.svg")}
.icon-nav-2 {background-image:url("../images/common/icon-nav-2.svg")}
.icon-nav-3 {background-image:url("../images/common/icon-nav-3.svg")}
.icon-nav-4 {background-image:url("../images/common/icon-nav-4.svg")}
.icon-nav-5 {background-image:url("../images/common/icon-nav-5.svg")}
.icon-nav-6 {background-image:url("../images/common/icon-nav-6.svg")}
.icon-nav-7 {background-image:url("../images/common/icon-nav-7.svg")}

.active .icon-nav-1,
.left-nav-item:hover .icon-nav-1 {background-image:url("../images/common/icon-nav-1-on.svg")}
.active .icon-nav-2,
.left-nav-item:hover .icon-nav-2 {background-image:url("../images/common/icon-nav-2-on.svg")}
.active .icon-nav-3,
.left-nav-item:hover .icon-nav-3 {background-image:url("../images/common/icon-nav-3-on.svg")}
.active .icon-nav-4,
.left-nav-item:hover .icon-nav-4 {background-image:url("../images/common/icon-nav-4-on.svg")}
.active .icon-nav-5,
.left-nav-item:hover .icon-nav-5 {background-image:url("../images/common/icon-nav-5-on.svg")}
.active .icon-nav-6,
.left-nav-item:hover .icon-nav-6 {background-image:url("../images/common/icon-nav-6-on.svg")}
.active .icon-nav-7,
.left-nav-item:hover .icon-nav-7 {background-image:url("../images/common/icon-nav-7-on.svg")}

.btn-left-nav-folding {background:url("../images/common/button-nav-close.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:26/92;width:2.6rem;position:absolute;top:50%;right:-2.6rem;}
.is-close .btn-left-nav-folding {background-image:url("../images/common/button-nav-open.svg")}