@charset "utf-8";

.sub-map {display:flex;flex-direction:column;height:100%;}
.sub-map-content {flex:1;width:100%;overflow:hidden}
.footer-nav {background-color:#131723;height:5.2rem;display:flex;align-items:center;justify-content:center;flex-shrink:0;gap:6rem;}

[class^="icon-btm-"] {display:block;width:2.4rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;aspect-ratio:1/1;}
.icon-btm-1 {background-image:url("../../images/common/icon-btm-1.svg")}
.icon-btm-2 {background-image:url("../../images/common/icon-btm-2.svg")}
.icon-btm-3 {background-image:url("../../images/common/icon-btm-3.svg")}
.icon-btm-4 {background-image:url("../../images/common/icon-btm-4.svg")}
.icon-btm-5 {background-image:url("../../images/common/icon-btm-5.svg")}
.icon-btm-6 {background-image:url("../../images/common/icon-btm-6.svg")}
.icon-btm-7 {background-image:url("../../images/common/icon-btm-7.svg")}
.map-control-layer-btn {display:flex;align-items:center;gap:.4rem;}
.map-control-layer-btn-text {font-size:1.6rem;font-weight:700;color:#fff;}
.map-control-btn-group {display:flex;gap:3.6rem;}
.layer-open-box {position:relative;}
.map-control-btn-group .layer-open-box ~ .layer-open-box:before {content:'';position:absolute;left:-1.8rem;width:.1rem;height:1.8rem;background-color:#36415E;top:50%;margin-top:-.9rem;display:block;}
.map-control-period-group:before {content:'';position:absolute;left:-3rem;width:.1rem;height:2.8rem;background-color:#36415E;top:50%;margin-top:-1.4rem;display:block;}
.map-control-period-group {display:flex;align-items:center;gap:.6rem;position:relative;}
.map-control-period-group .btn-base {min-width:9rem;}

.sub-map-content-area {height:100%;display:flex;overflow:hidden;}
.map-container-box {flex:1;position:relative;overflow:hidden}
.object-cover {width:100%;height:100%;object-fit:cover;}

.map-breadcrumbs {position:absolute;top:0;left:0;right:0;height:4.2rem;background-color:rgba(0,0,0,.5);padding:0 1.6rem;display:flex;align-items:center;}
.breadcrumbs-box {display:flex;align-items:center;font-size:1.4rem;font-weight:800;color:#fff;gap:.4rem;}
.breadcrumbs-box img {display:block;}
.breadcrumbs-point {color:#FFE602;}
.map-right-position {position:absolute;top:5.8rem;right:1.6rem;display:flex;flex-direction:column;gap:.8rem;}
[class^="icon-map-"] {width:3.2rem;height:3.2rem;display:block;background-repeat:no-repeat;background-size:contain;background-position:50% 50%}
.icon-map-open-1 {background-image:url("../../images/common/icon-map-01.svg")}
.icon-map-open-2 {background-image:url("../../images/common/icon-map-02.svg")}
.map-right-position .btn-base {width:6rem;height:6rem;background-color:#181D2B;border-radius:.8rem;box-shadow:0 0 .1rem 0 rgba(0,0,0,.1);border:.1rem solid transparent;}
.map-right-position .btn-base.active {background-color:#2E7EF6;border-color:#2978ED;}

.map-left-position {position:absolute;top:8rem;left:2rem}
.map-left-sh-box {margin-bottom:3rem;position:relative}
.map-left-sh-box .icon-sh {position:absolute;left:1.6rem;top:50%;margin-top:-1.2rem;}
.map-left-sh-list {position:absolute;top:6rem;left:0;min-width:25rem;max-width:36rem;z-index:10;background-color:#fff;border-radius:.4rem;box-shadow:0 .1rem .4rem rgba(0,0,0,.25);display:flex;flex-direction:column;overflow:hidden}
.map-left-sh-list-item {height:4.4rem;display:flex;align-items:center;padding:0 1.6rem;white-space:nowrap;gap:.8rem;font-size:1.6rem;color:#1e2329;font-weight:700}
.map-left-sh-list-item ~ .map-left-sh-list-item {border-top:.1rem solid #f0f0f5}
.map-left-sh-list-item:hover {background-color:#f9f9fb;color:#2e7ef6}
.map-left-sh-group {padding:2rem 1.6rem}
.map-left-sh-group ~ .map-left-sh-group {border-top:.1rem solid #f0f0f5}
.map-left-sh-group-title {font-size:1.8rem;font-weight:800;color:#1e2329;margin-bottom:.8rem}
.btn-map-sh-items {display:flex;width:100%;font-size:1.6rem;height:2.6rem;align-items:center;color:#5d6165;justify-content:flex-start;font-weight:600}
.btn-map-sh-items:hover {color:#2e7ef6}
.btn-map-sh-items span {word-break:break-all;text-overflow:ellipsis;overflow:hidden;max-width:100%;display:inline-block;white-space:nowrap}
input[type="text"].left-input-sh {width:17rem;height:5rem;border-radius:.4rem;border:none;padding:0 1.2rem 0 5rem;box-shadow:0 .1rem .4rem rgba(0,0,0,.25)}
input[type="text"].left-input-sh::placeholder {color:#999;font-weight:600;font-size:1.6rem}
.icon-sh {aspect-ratio:1/1;width:2.4rem;background:url("../../images/common/icon-search.svg") no-repeat 50% 50%;background-size:contain;display:block;}

.map-left-map-type {width:17rem;display:flex;gap:.8rem;}
.btn-map-type {display:flex;flex-direction:column;border:.1rem solid rgba(0,0,0,.4);border-radius:.4rem;overflow:hidden;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);height:6.6rem;flex:1;}
.btn-map-type.active {border-color:#2E7EF6}
.map-type-img {height:4rem;flex-shrink:0;overflow:hidden;width:100%}
.map-type-img img {width:100%;height:100%;object-fit:cover}
.map-type-text {font-size:1.1rem;flex:1;display:flex;width:100%;align-items:center;justify-content:center;font-weight:800;color:#1e2329;background-color:#fff}
.btn-map-type.active .map-type-text {color:#2E7EF6}

.map-left-map-expand {margin-top:2rem;border-radius:.4rem;background-color:#fff;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);width:4.2rem;display:flex;flex-direction:column}
.btn-s-map-right {width:100%;height:4rem;display:flex;align-items:center;justify-content:center}
.btn-s-map-right ~ .btn-s-map-right {border-top:.1rem solid #e8e8e8}
.btn-layer-hover {position:relative}
.map-left-btn-group {margin-top:1rem;display:flex;gap:1rem;flex-direction:column}
.map-left-btn-group .btn-layer-hover {border-color:transparent !important;}
.map-left-btn-group .btn-layer-hover .btn-s-map-item {border-color:transparent}
.btn-s-map-item {width:4.2rem;height:4.2rem;border-radius:.4rem;background-color:#fff;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);display:flex;align-items:center;justify-content:center;border:.1rem solid #fff}
.btn-s-map-item i {width:2.4rem;height:2.4rem;display:block;background-position:50% 50%;background-size:contain;background-repeat:no-repeat}
.btn-s-map-item.active {background-color:#2E7EF6}
.left-tooltip-layer {position:absolute;left:5rem;top:.6rem;z-index:99;display:none;padding-right:1.2rem}
.left-tooltip-layer-box {position:relative;display:flex;background-color:#fff;padding:0 1rem;border-radius:.2rem;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);height:3rem;align-items:center;font-size:1.4rem;font-weight:800;color:#1e2329;white-space:nowrap}
.left-tooltip-layer-box:before {content:'';position:absolute;top:50%;left:-.4rem;width:0;height:0;margin-top:-.3rem;border-right:.4rem solid #fff;border-top:.4rem solid transparent;border-bottom:.4rem solid transparent}
.btn-layer-hover:hover .left-tooltip-layer {display:flex}
.icon-plus {background:url("../../images/common/icon-plus.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:2.4rem;}
.icon-minus {background:url("../../images/common/icon-minus.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:1/1;width:2.4rem;}
.btn-s-map-right:hover .icon-plus {background-image:url("../../images/common/icon-plus-on.svg")}
.btn-s-map-right:hover .icon-minus {background-image:url("../../images/common/icon-minus-on.svg")}
.icon-left-map-01 {background-image:url("../../images/common/icon-space-dashboard.svg")}
.icon-left-map-02 {background-image:url("../../images/common/icon-window.svg")}
.icon-left-map-03 {background-image:url("../../images/common/icon-layer.svg")}
.icon-left-map-04 {background-image:url("../../images/common/icon-map.svg")}
.active .icon-left-map-01 {background-image:url("../../images/common/icon-space-dashboard-on.svg")}
.active .icon-left-map-02 {background-image:url("../../images/common/icon-window-on.svg")}
.active .icon-left-map-03 {background-image:url("../../images/common/icon-layer-on.svg")}
.active .icon-left-map-04 {background-image:url("../../images/common/icon-map-on.svg")}

.map-detail-right-area {width:50%;flex-shrink:0;background-color:#181D2B;padding:0 2rem;position:relative;overflow-y:auto;border-bottom:.1rem solid #0A0D13;border-left:.1rem solid #0A0D13;margin-right:-50%;transition:margin-right .2s}
.map-detail-right-area.is-open {margin-right:0}
.map-detail-right-area.scrollbar-4::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,.2)}
.map-detail-right-title {margin-top:3rem;margin-bottom:1rem;font-size:2rem;line-height:2.2rem;font-weight:800;color:#3396FF;}
.map-detail-right-box {background-color:#212633;border-radius:.6rem;padding:2rem;}
.map-detail-right-group {display:flex;align-items:center;}
.map-detail-right-group.v2 {padding-left:17rem;}
.map-detail-right-group-title {margin-right:6.8rem;font-size:2rem;line-height:2.2rem;font-weight:800;color:#fff;width:10.2rem;}
.map-detail-right-1 {display:flex;flex-direction:column;gap:2rem;padding:1rem 6rem 1rem 2rem;}
.map-detail-right-list {display:flex;align-items:center;justify-content:space-between;flex:1;}
.map-detail-right-item {width:8.6rem;position:relative;}
.map-detail-right-item img {width:100%;object-fit:contain;}
.map-detail-right-item-text {position:absolute;top:50%;left:50%;text-align:center;transform:translate(-50%, -50%);font-size:1.2rem;font-weight:800;}
.map-detail-right-item-text-stork {-webkit-text-stroke:.4rem rgba(0,0,0,.7)}
.map-detail-right-item-value {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#fff;white-space:nowrap}
.map-detail-right-item-title {font-size:1.4rem;font-weight:800;line-height:1.6rem;color:#fff;text-align:center;}
.map-detail-right-table-area {margin-top:3rem;}

.dark-table {border-top:.1rem solid #38455F;border-left:.1rem solid #38455F;}
.dark-table thead th {height:4rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:800;background-color:#212633}
.dark-table tbody th {height:3rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:800;background-color:#212633}
.dark-table tbody td {height:3rem;border-right:.1rem solid #38455F;border-bottom:.1rem solid #38455F;text-align:center;font-size:1.4rem;color:#fff;font-weight:700;}

.map-detail-right-btn-group {margin-top:2rem;display:flex;justify-content:flex-end;align-items:center;gap:.6rem;}
.map-detail-right-btn-group .btn-base {min-width:12rem;}
.map-detail-right-btn-group .btn-base i {margin-left:auto;margin-right:-.6rem;}
.icon-circle-down {aspect-ratio:1/1;width:2.4rem;background:url("../../images/common/icon-circle-down.svg") no-repeat 50% 50%;background-size:contain;}

.btn-detail-right-close {width:3.6rem;height:3.6rem;background-color:#0A0D13;display:flex;align-items:center;justify-content:center;border-radius:.2rem;position:absolute;top:1.4rem;right:2rem;}
.icon-close {aspect-ratio:1/1;width:2.4rem;background:url("../../images/common/icon-close.svg") no-repeat 50% 50%;background-size:contain;}

.left-nav-area[data-toggle-target="left-nav"] {transition: margin 300ms ease-in}
.left-nav-area[data-toggle-target="left-nav"][data-toggle-state="true"] {margin-left:-5rem}
.left-nav-area {flex-shrink:0;position:relative;z-index:2;}
.left-nav-area.is-close {margin-left:-4.8rem;}
.left-nav-box {padding:2rem 1.4rem;background-color:#2B3244;border-right:.1rem solid #1F2330;height:100%;box-shadow:.4rem 0 .2rem 0 rgba(0,0,0,.1)}
.left-nav-box:hover .left-nav-item-name {display:block;}
.left-nav-list {display:flex;flex-direction:column;gap:1.4rem;}
.left-nav-item {display:flex;gap:.8rem;align-items:center;text-decoration:none;}
.left-nav-item-name {font-size:1.2rem;color:#49577C;font-weight:800;line-height:1;display:none;}
.left-nav-item.active .left-nav-item-name,
.left-nav-item:hover .left-nav-item-name {color:#fff;}
[class^="icon-nav-"] {aspect-ratio:1/1;width:2rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;}
.icon-nav-1 {background-image:url("../../images/common/icon-nav-1.svg")}
.icon-nav-2 {background-image:url("../../images/common/icon-nav-2.svg")}
.icon-nav-3 {background-image:url("../../images/common/icon-nav-3.svg")}
.icon-nav-4 {background-image:url("../../images/common/icon-nav-4.svg")}
.icon-nav-5 {background-image:url("../../images/common/icon-nav-5.svg")}
.icon-nav-6 {background-image:url("../../images/common/icon-nav-6.svg")}
.icon-nav-7 {background-image:url("../../images/common/icon-nav-7.svg")}

.active .icon-nav-1,
.left-nav-item:hover .icon-nav-1 {background-image:url("../../images/common/icon-nav-1-on.svg")}
.active .icon-nav-2,
.left-nav-item:hover .icon-nav-2 {background-image:url("../../images/common/icon-nav-2-on.svg")}
.active .icon-nav-3,
.left-nav-item:hover .icon-nav-3 {background-image:url("../../images/common/icon-nav-3-on.svg")}
.active .icon-nav-4,
.left-nav-item:hover .icon-nav-4 {background-image:url("../../images/common/icon-nav-4-on.svg")}
.active .icon-nav-5,
.left-nav-item:hover .icon-nav-5 {background-image:url("../../images/common/icon-nav-5-on.svg")}
.active .icon-nav-6,
.left-nav-item:hover .icon-nav-6 {background-image:url("../../images/common/icon-nav-6-on.svg")}
.active .icon-nav-7,
.left-nav-item:hover .icon-nav-7 {background-image:url("../../images/common/icon-nav-7-on.svg")}

.btn-left-nav-folding {background:url("../../images/common/button-nav-close.svg") no-repeat 50% 50%;background-size:contain;aspect-ratio:26/92;width:2.6rem;position:absolute;top:50%;right:-2.5rem;}
.is-close .btn-left-nav-folding {background-image:url("../../images/common/button-nav-open.svg")}

.map-btm {position:absolute;display:flex;width:100%;justify-content:center;bottom:1rem;align-items:end}
.map-btm-item {display:flex;gap:1rem;flex-wrap:wrap;width:50%;justify-content:center}
.map3-btm-item-box {height:7.2rem;min-width:42rem;border-radius:.8rem;background-color:rgba(24,29,43,.8);padding:0 1rem;box-shadow:0 .1rem .4rem rgba(0,0,0,.25);display:flex;flex-direction:column;justify-content:center;max-width:45%}
.map3-btm-item-box .choice-item-type-a {flex:1}
.map3-btm-item-box .choice-item-type-a-label {background-color:#fff;font-weight:800;font-size:1.4rem;min-width:auto;width:100%;padding:0;height:3.2rem;line-height:1;cursor:pointer}
.map3-btm-item-box .inp-choice:checked + .choice-item-type-a-label {border-color:transparent;background-color:#2e7ef7;color:#fff;font-weight:700}

.carbon-box {display:flex;gap:1.6rem;margin-top:.4rem}
.carbon-label {font-size:1.4rem;font-weight:600;color:#fff;flex-shrink:0}
.carbon-img {flex:1;background:url("../../images/common/img-carbon.png") no-repeat 50% 50%;background-size:contain}
.map3-btm-item-box .carbon-box {padding-left:calc(((100% - 2.4rem) / 5) + .6rem)}

.player-control-area {display:flex;align-items:flex-start;gap:3rem}
.player-control-area .player-slider-area {margin-top:1.5rem;position:relative}
.slider-value-position {position:absolute;top:-5rem;background-color:#fff;padding:0 1.2rem;height:3rem;display:flex;align-items:center;font-weight:600;font-size:1.4rem;border-radius:.4rem;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);transform:translateX(-50%)}
.slider-value-position:before {content:'';position:absolute;bottom:-.4rem;left:50%;width:0;height:0;margin-left:-.2rem;border-top:.4rem solid #fff;border-left:.4rem solid transparent;border-right:.4rem solid transparent}
.slider-value-position .amount-data {color:#1e2329;font-weight:800;font-family: 'NanumSquare', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;}
.map3-btm-center .player-slider-area .ui-widget-content {background-color:#fff}
.player-control-top {display:flex;justify-content:flex-end;gap:1.9rem;margin-top:0}
.btn-player-control-top {font-size:1.4rem;color:#fff;font-weight:800;position:relative}
.btn-player-control-top.active {color:#4891ff}
.btn-player-control-top ~ .btn-player-control-top:before {content:'';position:absolute;left:-1rem;top:50%;height:1.4rem;width:.1rem;background-color:rgba(255,255,255,.1);margin-top:-.7rem}
.player-slider-data {display:flex;justify-content:space-between;margin-top:1.6rem}
.player-slider-data-value {font-size:1.4rem;font-weight:600;color:#000}

.player-box {height:6rem;border-radius:.4rem;background-color:#fff;padding:0 4rem;position:absolute;bottom:3.6rem;width:72%;left:50%;transform:translateX(-50%);box-shadow:0 .1rem .4rem rgba(0,0,0,.25);display:none;align-items:center;gap:3rem}
.player-desc {color:#1e2329;font-size:1.6rem;font-weight:700;flex-shrink:0}
.player-slider-area {flex:1}
.player-slider-area .ui-slider-horizontal {height:.2rem}
.player-slider-area .ui-widget-content {background-color:#b7b7b7}
.player-slider-area .ui-widget-header {background-color:#2e7ef6}
.player-slider-area .ui-widget.ui-widget-content {border:none}
.player-slider-area .ui-slider .ui-slider-handle {width:1.8rem;height:1.8rem;border-radius:999rem;border:.2rem solid #2e7ef6;background-color:#fff;top:-.9rem;margin-left:-.9rem;box-shadow:0 .2rem 0 rgba(0,0,0,.1);outline:0}
.player-control-btn {flex-shrink:0;display:flex;gap:.4rem}
.btn-control {width:3.2rem;height:3.2rem;display:flex;align-items:center;justify-content:center}
.btn-control i {width:1.8rem;height:2.1rem;display:block;background-position:50% 50%;background-size:contain;background-repeat:no-repeat}
.icon-pause {background-image:url("../../images/common/icon-pause-off.png")}
.icon-play {background-image:url("../../images/common/icon-play-off.png")}
.icon-stop {background-image:url("../../images/common/icon-stop-off.png")}
.map3-btm-item-box .icon-pause {background-image:url("../../images/common/icon-pause-off-w.png")}
.map3-btm-item-box .icon-play {background-image:url("../../images/common/icon-play-off-w.png")}
.map3-btm-item-box .icon-stop {background-image:url("../../images/common/icon-stop-off-w.png")}
button:hover .icon-pause {background-image:url("../../images/common/icon-pause-on.png")}
button:hover .icon-play {background-image:url("../../images/common/icon-play-on.png")}
button:hover .icon-stop {background-image:url("../../images/common/icon-stop-on.png")}
.map3-btm-item-box .player-slider-area-box {flex:1;display:flex;align-items:flex-start;gap:1.6rem}
.map3-btm-item-box .player-slider-area-box .player-slider-value-s-e {font-size:1.4rem;font-weight:800;color:#fff;padding-top:.6rem;flex-shrink:0}

.map3-right-bottom {position:absolute;right:2rem;bottom:2.8rem;z-index:10}
.btn-setting-option {display:flex;width:3.2rem;height:3.2rem;background-color:#fff;border-radius:.4rem;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25);align-items:center;justify-content:center}
.icon-setting {background:url("../../images/common/icon-setting-off.png") no-repeat 50% 50%;width:1.6rem;height:1.6rem;display:block}
.level-group {display:flex;flex-direction:column;gap:.2rem;margin-top:1rem}
.level-group .level-item {height:1rem;width:100%;border:.1rem solid #fff}
.level-group.h-2 {gap:.4rem}
.level-group.h-2 .level-item {height:2rem}
.layer-setting {position:absolute;right:4rem;top:0;background-color:#fff;border-radius:.4rem;padding:1.2rem 1rem;display:none;box-shadow:.1rem 0 .4rem rgba(0,0,0,.25)}
.layer-setting[data-toggle-state="true"]{display:block;}
.layer-setting.bottom-type {top:auto;bottom:0;width:30rem;border-radius:1rem;border:.2rem solid #000;padding:1rem;height:34rem}
.setting-title-area {display:flex;justify-content:space-between;align-items:center}
.setting-title {font-size:1.2rem;color:#1e2329;font-weight:800}
.btn-change-legend {display:flex;align-items:center;gap:.4rem;font-size:1.2rem;color:#1e2329;font-weight:800}
.icon-legend {background:url("../../images/common/icon-legend.png") no-repeat 50% 50%;background-size:contain;width:2.8rem;height:2.8rem}
.setting-btn-group {display:flex;gap:.8rem;margin-top:.6rem}
.btn-setting-item {background-color:#f4f4f4;padding:.5rem;border:.1rem solid #f4f4f4}
.btn-setting-item.active {border-color:#2e7ef6}
.btn-setting-item .level-group {margin:0}
.btn-setting-item .level-group {width:3rem}
.layer-setting.bottom-type .setting-btn-group {margin-top:1.5rem;justify-content:center}
.layer-setting.bottom-type .btn-setting-item {padding:.8rem}
.layer-setting.bottom-type .btn-setting-item .level-group {width:4rem}
.color-choice-list-box {padding-top:1.5rem}
.color-choice-list-box .color-choice-box {margin-top:0}
.color-setting-sub-title {font-size:1.3rem;color:#1e2329;font-weight:800}
.color-setting-sub-title ~ .color-setting-sub-title {margin-top:1.2rem}

/* dashboard */
.dashboard-area {padding:2rem;flex:1;background-color:#181d2b;display:flex;flex-direction:column;gap:1.2rem}
.dashboard-grid-group-1 {display:grid;grid-template-columns:repeat(3,minmax(0,1fr));gap:1.2rem;flex:1}
.dashboard-grid-1 {grid-column:span 1/span 1;grid-row:span 1/span 1}
.dashboard-map-type {display:flex;flex-direction:column}
.dashboard-grid-select-group {flex-shrink:0;display:flex;gap:1rem;align-items:center;justify-content:center}
.dashboard-grid-select-group .select-item-box {background:#212633 url(../../images/common/icon-select-w.png) no-repeat 100% 50%;flex:1;max-width:16.4rem;margin-bottom:1.6rem}
.dashboard-grid-select-group select {border-color:#2a3141;color:#fff}
.dashboard-grid-select-group select option {background-color:#212633;border:.1rem solid #2a3141;outline:none;padding:1rem 0}
.dashboard-grid-select-group select option:checked,
.dashboard-grid-select-group select option:hover {background-color:#2e7ef6}
.dashboard-grid-1-title {text-align:center;color:#fff;font-size:1.4rem;font-weight:700;flex-shrink:0;display:flex;align-items:center;justify-content:center;gap:.8rem}
.dashboard-grid-1-map {flex:1}
.dashboard-grid-group-2 {flex-shrink:0;height:17rem;display:grid;grid-template-columns:repeat(3,minmax(0,1fr));gap:1.2rem}
.dashboard-grid-2 {grid-column:span 2/span 2;grid-row:span 1/span 1}
.dashboard-grid-3 {grid-column:span 1/span 1;grid-row:span 1/span 1;background-color:#212633;border-radius:1rem;padding:1.5rem;display:flex;flex-direction:column}
.dashboard-chart-box {height:100%;display:grid;grid-template-columns:repeat(1,minmax(0,1fr));grid-template-rows:repeat(5,minmax(0,1fr));gap:1.2rem}
.dashboard-chart-item-1 {grid-column:span 1/span 1;grid-row:span 3/span 3;display:flex;flex-direction:column;background-color:#212633;border-radius:1rem;padding:1.2rem}
.dashboard-chart-item-2 {grid-column:span 1/span 1;grid-row:span 2/span 2;display:flex;flex-direction:column}
.dashboard-chart-item-2.ver2 {background-color:#212633;border-radius:1rem;padding:1.2rem}
.dashboard-chart-title-box {display:flex;align-items:center;justify-content:flex-end;gap:1rem;flex-shrink:0;margin-bottom:.8rem}
.dashboard-chart-title {font-size:1.4rem;font-weight:700;color:#fff}
.btn-dashboard-chart-view {width:2.4rem;height:2.4rem;border:.1rem solid #2a3141;background-color:#181d2b;position:relative;border-radius:.2rem}
.btn-dashboard-chart-view:before,
.btn-dashboard-chart-view:after {content:'';position:absolute;background-color:#fff;top:50%;left:50%}
.btn-dashboard-chart-view:before {width:1rem;height:.2rem;margin:-.1rem 0 0 -.5rem}
.btn-dashboard-chart-view:after {height:1rem;width:.2rem;margin:-.5rem 0 0 -.1rem}
.dashboard-chart-grid {display:grid;grid-template-columns:repeat(10,minmax(0,1fr));grid-template-rows:repeat(5,minmax(0,1fr));flex:1;gap:.8rem 0}
.dashboard-chart-grid-item-1 {grid-column:span 10/span 10;grid-row:span 3/span 3}
.dashboard-chart-grid-item-2 {grid-column:span 10/span 10;grid-row:span 2/span 2}
.dashboard-chart-grid-item-3 {grid-column:span 7/span 7;grid-row:span 1/span 1}
.dashboard-chart-half {flex:1;display:grid;grid-template-columns:repeat(2,minmax(0,1fr));grid-template-rows:repeat(1,minmax(0,1fr))}
.dashboard-chart-half.ver2 {gap:1.2rem}
.dashboard-chart-grid-item-4 {grid-column:span 1/span 1;grid-row:span 1/span 1}
.dashboard-chart-half.ver2 .dashboard-chart-grid-item-4 {background-color:#212633;height:100%;border-radius:1rem;padding:1.2rem;display:flex;flex-direction:column}
.dashboard-chart-half-map {flex:1;display:flex}
.dashboard-chart-half-map-item {flex:1}
.dashboard-chart-half.ver2 .dashboard-chart-half-name-box,
.dashboard-chart-half.ver2 .dashboard-chart-title-box {flex-shrink:0}
.dashboard-chart-legend-area {flex-shrink:0;height:3rem;margin-top:-.8rem}
.dashboard-chart-half-name-box {flex-shrink:0;height:2rem;display:flex}
.dashboard-chart-half-name-item {flex:1;height:100%;display:flex;align-items:center;justify-content:center;font-size:1.4rem;font-weight:800;color:#fff}
.dashboard-chart-full {flex:1}
.dashboard-grid-2-area {display:grid;grid-template-columns:repeat(3,minmax(0,1fr));grid-template-rows:repeat(1,minmax(0,1fr));gap:1.2rem;height:100%}
.dashboard-grid-2-item {grid-column:span 1/span 1;grid-row:span 1/span 1;display:flex;background-color:#212633;height:100%;border-radius:1rem;padding:1.2rem 2.4rem 1.2rem 1.6rem;flex-direction:column}
.dashboard-grid-2-title {position:relative;font-size:1.4rem;font-weight:700;color:#fff;margin-bottom:2rem}
.dashboard-bg-1 {background-image:url("../../images/common/bg-img-1.png");background-repeat:no-repeat;background-position:0 100%}
.dashboard-bg-2 {background-image:url("../../images/common/bg-img-2.png");background-repeat:no-repeat;background-position:0 100%}
.dashboard-bg-3 {background-image:url("../../images/common/bg-img-3.png");background-repeat:no-repeat;background-position:0 100%}
.dashboard-grid-2-data-box {display:flex;flex-direction:column;gap:1.6rem;width:26rem;margin-left:auto}
.dashboard-grid-2-data-item {flex:1;display:flex;align-items:center;gap:1rem}
.dashboard-grid-2-data-item ~ .dashboard-grid-2-data-item {position:relative}
.dashboard-grid-2-data-item ~ .dashboard-grid-2-data-item:before {content:'';position:absolute;top:-.8rem;left:0;right:0;height:.1rem;background-color:#2c364f}
.dashboard-grid-2-data-title {background-color:#2c364f;height:4.4rem;width:10rem;display:flex;align-items:center;justify-content:center;color:#fff;font-weight:700;font-size:1.5rem;border-radius:9999rem}
.dashboard-grid-2-data-value-1 {color:#657396;font-size:1.2rem;font-weight:700;display:flex;align-items:flex-start;gap:.4rem}
.dashboard-grid-2-data-value-2 {font-size:2.4rem;font-weight:800;line-height:2.6rem;color:#fff;letter-spacing:-.03em}
.icon-up-down {aspect-ratio:12/20;width:.8rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;display:block;position:relative}
.value-up .data-value {color:#ff6700}
.value-up .icon-up-down {background-image:url("../../images/common/icon-up.png");top:.2rem}
.value-down .data-value {color:#3cb3e4}
.value-down .icon-up-down {background-image:url("../../images/common/icon-down.png");top:0}
.dashboard-layer-area {width:100%;height:100%;padding:3rem 3rem 8rem;background-color:#212633;overflow-y:auto;position:relative;-webkit-overflow-scrolling:touch}
.dashboard-layer-area-fixed-btn {position:absolute;left:0;right:0;bottom:1rem;height:6rem;display:flex;justify-content:flex-end;gap:.8rem;padding:0 2rem}
.dashboard-layer-area .dashboard-chart-half {height:calc(100% - 8rem)}
.dashboard-layer-area .dashboard-chart-half-name-box {height:8rem}
.dashboard-layer-area .dashboard-chart-half-name-item {font-size:2.8rem;color:#fff}
.dashboard-layer-area .dashboard-chart-full,
.dashboard-layer-area .dashboard-chart-grid {min-height:100%}
.dashboard-chart-grid-v2 {height:100%;display:flex;flex-direction:column}
.dashboard-chart-grid-top {flex-shrink:0;padding-left:16rem;height:4rem;display:flex}
.dashboard-chart-grid-top-title {display:flex;flex:1;align-items:center;justify-content:center;font-size:1.6rem;color:#fff;font-weight:600}
.dashboard-chart-grid-group {display:flex;flex:1}
.dashboard-chart-grid-left {flex-shrink:0;width:16rem;display:flex;flex-direction:column}
.dashboard-chart-grid-left-title {flex:1;display:flex;align-items:center;justify-content:center;color:#fff;font-size:1.8rem;font-weight:700}
.dashboard-chart-grid-center {flex:1;grid-template-columns:repeat(3,minmax(0,1fr));grid-template-rows:repeat(2,minmax(0,1fr));display:grid}
.dashboard-chart-grid-center-item {grid-column:span 1/span 1;grid-row:span 1/span 1}
.help-info-box {flex-shrink:0;display:flex;align-items:center;justify-content:center;gap:.4rem 3.6rem;margin-bottom:-.8rem;flex-wrap:wrap}
.help-info-item {color:#667aad;font-weight:800;font-size:1.4rem;position:relative}
.help-info-item ~ .help-info-item:before {content:'';position:absolute;left:-1.8rem;width:.1rem;height:1rem;background-color:#374361;top:50%;margin-top:-.5rem}
.dashboard-chart-grid-v3 {display:flex;flex-direction:column;gap:.8rem;height:100%}
.dashboard-chart-grid-v3-item.table-data {position:relative;overflow:hidden;background-color:#394054;padding:1.6rem 1rem}
.dashboard-chart-grid-v3-item .table-data-area {height:100%;overflow-y:auto;width:100%;display:flex;justify-content:center;-webkit-overflow-scrolling:touch;}
.dashboard-chart-grid-v3-item .table-data-area::-webkit-scrollbar {height:.4rem;width:.4rem;}
.dashboard-chart-grid-v3-item .table-data-area::-webkit-scrollbar-track {border-radius:999em;background-color:transparent}
.dashboard-chart-grid-v3-item .table-data-area::-webkit-scrollbar-thumb {width:.4rem;border-radius:999em;background-color:rgba(255,255,255,.3);}
.dashboard-chart-grid-v3-item {flex:1}
.dashboard-chart-grid-table {border-top:.1rem solid #535e7b;width:100%;max-width:58rem}
.dashboard-chart-grid-table caption {color:#3396ff;font-size:1.6rem;font-weight:800;height:3.6rem;border-top:.1rem solid #535e7b;overflow:visible;opacity:1;line-height:3.6rem}
.dashboard-chart-grid-table th {color:#fff;text-align:center;font-size:1.3rem;font-weight:700;height:3rem;line-height:3rem;border-bottom:.1rem solid #535e7b}
.dashboard-chart-grid-table th ~ th,
.dashboard-chart-grid-table td ~ td {border-left:.1rem solid #535e7b}
.dashboard-chart-grid-table td {color:#fff;text-align:right;font-size:1.3rem;font-weight:700;line-height:3rem;border-bottom:.1rem solid #535e7b;padding:0 1.2rem}
.dashboard-chart-grid-table td:first-child {text-align:center}
.table-data-close {position:absolute;right:1rem;bottom:1rem}
.btn-table-data-close {height:3rem;width:6.8rem;display:flex;align-items:center;justify-content:center;color:#fff;background-color:#181d2b;border-radius:.2rem;font-size:1.2rem;font-weight:700}
.dashboard-chart-grid-4 {display:flex;flex:1}
.dashboard-chart-grid-legend {width:20%;min-width:6rem;flex-shrink:0}
.dashboard-chart-grid-4-chart {flex:1;display:flex;flex-direction:column}
.dashboard-chart-grid-4-chart-box {display:flex;flex:1}
.dashboard-chart-grid-4-chart-item {flex:1}